*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sky,
.center{
  background-color: rgb(72, 146, 255);
}
.flex{
  display: flex;
  height: 75px;
}
.ptop40{
  padding-top: 40px;
}
.ptop50{
  padding-top: 50px;
}
.row img{
  vertical-align: bottom;
}
.block-ground{
  background-image: url(./img/blockground.png);
  height: 120px;
  background-size: cover;
}
.ai-bot{
  align-items: flex-end;
}